
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   
    background-image: url(space.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: sans-serif;
    
}
.header{
    background-color: rgb(55, 55, 191);
    display: flex;
   justify-content: center;
}

.header ul>li {
  list-style-type: none;
   display: inline-block;
   margin: 20px ;
}
ul>li >a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-right: 20px;
  padding: 20px;
 
}

ul>li>a>i {
    margin-right: 8px;
}